<?xml version="1.0"?>
<intextbooksConfig>
	<!-- PATHS -->
		<!-- USE / as a filePath seperator -->
		<ontologyPath>data/ontology/intextbooks.rdf</ontologyPath>
		<contentFolder>data/repository/content/books/</contentFolder>
		<modelFolder>data/repository/modelData/</modelFolder>
		<modelFolderLinkingTests>data/repository/linkingData/modelFolder</modelFolderLinkingTests>
		<extractionTmpFolder>data/repository/tmp/extractor/</extractionTmpFolder>
		<extractedSegmentsTXT>data/repository/content/segments/txt/</extractedSegmentsTXT>
		<extractedSegmentsPDF>data/repository/content/segments/pdf/</extractedSegmentsPDF>
		<logFolder>data/logs/system/</logFolder>
		<linkingFolder>data/repository/</linkingFolder>
		<pythonScriptPath>data/scripts/noun-extractor.py</pythonScriptPath>
		<tdbDirectory>data/tdb_directory</tdbDirectory>
	<!-- local JEP library -->
	<jepLibraryPath>/home/alpiz001/.local/lib/python3.8/site-packages/jep/libjep.so</jepLibraryPath>
	<!-- MISC -->
		<lineSeparator>#####</lineSeparator>
		<!-- ff debug logging should be omitted -->
		<silentLogging>true</silentLogging>
		<ontologyNS>http://intextbooks.science.uu.nl/models/ontologies/intextbooks.rdf#</ontologyNS>
	<!-- DATABASE -->
		<database>jdbc:mysql://localhost:3306/intextbooks_db?characterEncoding=utf8&amp;useSSL=false</database>
		<dbPasswd></dbPasswd>
		<dbUser></dbUser>
		<mailPasswd></mailPasswd>
	<!-- KB Enrichment -->
		<numberOfJumps>3</numberOfJumps>
		<similarityScoreThreshold>0.5</similarityScoreThreshold>
	<!-- Linking -->
		<!-- Parameters -->
	<luceneVersion>LUCENE_4_10_2</luceneVersion>
	<assumedMaxDocumentCount>10000</assumedMaxDocumentCount>
	<logLinkingProcess>true</logLinkingProcess>
	<VsmCollectionSimilarityMaximumListedMatchingDocuments>10</VsmCollectionSimilarityMaximumListedMatchingDocuments>
	<nameDividorSymbol>#</nameDividorSymbol>
	<markAsIntroductionString>[INTRODUCTION]</markAsIntroductionString>
	<fileNameHashingReadablePartLength>50</fileNameHashingReadablePartLength>
	<alsoCreateHumanReadableVersionOfFiles>false</alsoCreateHumanReadableVersionOfFiles>
	<collectionSimilaritySanityTestNumberOfSvdDimensions>10</collectionSimilaritySanityTestNumberOfSvdDimensions>
	<basicIndexingTestLanguage>GERMAN</basicIndexingTestLanguage>
	  <!-- Query weights -->
      <findAnyBodyWeight>1.0</findAnyBodyWeight>
      <findAnyTitleWeight>11.0</findAnyTitleWeight>
      <findAllBodyWeight>1.8</findAllBodyWeight>
      <findAllTitleWeight>11.0</findAllTitleWeight>
      <phraseBodyWeight>1.6</phraseBodyWeight>
      <phraseTitleWeight>11.0</phraseTitleWeight>
      <glossaryIndexBodyWeight>1.0</glossaryIndexBodyWeight>
      <glossaryIndexTitleWeight>0.0</glossaryIndexTitleWeight>

    <!-- Transformation weights -->
      <termIntroductionWeight>0.1</termIntroductionWeight>

		<!-- Directories -->
			<linkingInputDirectory>data/repository/linkingInput/</linkingInputDirectory>
			<linkingOutputDirectory>data/repository/linkingOutput/</linkingOutputDirectory>
			<documentsDirectory>data/repository/linkingInput/documents/</documentsDirectory>
			<glossariesDirectory>data/repository/linkingInput/glossaries/</glossariesDirectory>
			<resultsDirectory>data/repository/linkingOutput/linkingResults/</resultsDirectory>
			<indicesDirectory>data/repository/linkingOutput/linkingResults/indices/</indicesDirectory>
			<documentVsmCollectionsDirectory>data/repository/linkingOutput/linkingResults/documentVSMs/</documentVsmCollectionsDirectory>
			<collectionSimilaritiesDirectory>data/repository/linkingOutput/linkingResults/collectionSimilarities/</collectionSimilaritiesDirectory>
			<humanFeedbackDataDirectory>data/repository/linkingInput/humanFeedback/</humanFeedbackDataDirectory>
			<evaluationResultsDirectory>data/repository/linkingOutput/linkingResults/evaluations/</evaluationResultsDirectory>
			<basicDocumentsDirectory>data/repository/linkingInput/documents/basic/</basicDocumentsDirectory>
			<testDocumentsDirectory>data/repository/linkingInput/documents/test/</testDocumentsDirectory>
			<unorderedDocumentsDirectory>data/repository/linkingInput/documents/unordered/</unorderedDocumentsDirectory>
			<testDataDirectory>data/repository/linkingOutput/linkingTestResults/</testDataDirectory>
			<testIndicesDirectory>data/repository/linkingOutput/linkingTestResults/indices/</testIndicesDirectory>
			<testDocumentVsmCollectionsDirectory>data/repository/linkingOutput/linkingTestResults/documentVSMs/</testDocumentVsmCollectionsDirectory>
			<testCollectionSimilaritiesDirectory>data/repository/linkingOutput/linkingTestResults/collectionSimilarities/</testCollectionSimilaritiesDirectory>
			<glossaryEffectivenessTest>data/repository/linkingOutput/linkingTestResults/glossaryEffectivenessTest/</glossaryEffectivenessTest>
			<indexVsGlossary>data/repository/linkingOutput/linkingResults/documentVSMs/indexVsGlossary/</indexVsGlossary>
			<glossaryIndexOverlap>data/repository/linkingOutput/linkingTestResults/glossaryIndexOverlap/</glossaryIndexOverlap>

	<!-- POS tagging models -->
		<englishPosModel>data/posmodels/wsj-0-18-bidirectional-distsim.tagger</englishPosModel>
		<germanPosModel>data/posmodels/german-hgc.tagger</germanPosModel>
		<frenchPosModel>data/posmodels/french.tagger</frenchPosModel>
		<spanishPosModel>data/posmodels/spanish.tagger</spanishPosModel>
		<dutchPosModel>data/posmodels/nl-pos-maxent.bin</dutchPosModel>
	<!-- NER tagging models -->
		<englishNERModel>edu/stanford/nlp/models/ner/english.all.3class.distsim.crf.ser.gz</englishNERModel>
		<germanNERModel>data/stanfordNERModels/german.conll.germeval2014.hgc_175m_600.crf.ser.gz</germanNERModel>
		<frenchNERModel>data/stanfordNERModels/eunews.fr.crf.gz</frenchNERModel>
		<spanishNERModel>data/stanfordNERModels/spanish.ancora.distsim.s512.crf.ser.gz</spanishNERModel>
		<dutchNERModel>data/stanfordNERModels/eunews.nl.crf.gz</dutchNERModel>
		<NERTags>PERSON,I-PERS,PERS,B-PER</NERTags>
	<!-- Blacklists for ontology -->
		<ontologyBlacklistsPath>data/ontology/blacklists/</ontologyBlacklistsPath>
	<!-- TEX hyphenation patterns -->
		<englishTexPattern>data/hyphenTables/hyph-en-gb.tex|data/hyphenTables/hyph-en-us.tex</englishTexPattern>
		<germanTexPattern>data/hyphenTables/hyph-de-1996.tex</germanTexPattern>
		<frenchTexPattern>data/hyphenTables/hyph-fr.tex</frenchTexPattern>
		<spanishTexPattern>data/hyphenTables/hyph-es.tex</spanishTexPattern>
		<dutchTexPattern>data/hyphenTables/hyph-nl.tex</dutchTexPattern>
</intextbooksConfig>
